.basic-info__body {
  border-left: 0.1rem white solid;
  padding-left: 5%;
  color: white;
  padding-top: 0;
  margin-top: 80%;
}

.basic-info__name {
  font-size: 2.75rem;
  font-weight: bold;
  margin-bottom: 0;
}

.basic-info__job {
  font-size: 1.25rem;
  margin-top: 0.5%;
}

@media only screen and (max-width: 1260px) {
  .basic-info__body {
    margin-top: 0%;
  }

}
