.main-section {
  width: 65vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5vh;
  align-self: center;

}

.main-section__picture {
  width: 55%;
}

@media only screen and (max-width: 1260px) {
  .main-section {
    justify-content: center;
  }

}

@media only screen and (max-width: 768px) {
  .main-section__picture {
    width: 180%;
    margin-left: 25%;
  }
  
}
